.add-product {
    padding: 40px;
    background-image: url('./pics/aloe14.jpg');
    background-position:right;
    background-size: 2000px;
    margin-bottom: 60px;

}

.upload-img {
    padding: 30px;
}

.adminaddproduct-h2 {
    padding: 8px;
    margin-bottom: 50px;
    font-size: 20px;
    background-color: white;
    box-shadow: 0 0 20px #eeddd3;
    font-weight: lighter;
    margin-top: -40px;
    width: 100%;
}

.add-product label {
    font-size: 17px;
    margin-left: 20px;
    font-weight: bolder;

}

.add-product input {
    padding: 0 5px;
    height: 30px;
    font-size: 16px;
    border: 1 px solid #F1E4DD;
    border-radius: 5px;
    border-color: #F1E4DD;
    margin-left: 20px;
    font-family: 'Poppins', sans-serif;
    background-color: white;

}

.addp-input[type=text] {
    font-family: 'Poppins', sans-serif;
    color: #F6EDE8;
    font-size: 14px;

}

.addp-button {
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 30px;
    height: 60px;
    width: 250px;
    border: 1px solid;
    background: #FAF6F4;
    border-radius: 5px;
    font-size: 16px;
    color: #3E312A;
    font-weight: 20px;
    cursor: pointer;
    outline: none;
    border-color: #cec6c2;
    font-family: 'Poppins', sans-serif;
}

.addp-button:hover {
    border-color: white;
    transition: .5s;
}

.box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #3E312A;
    padding: 30px;
    margin-bottom: 30px;
    margin-top: 10px;
    font-size: 20px;
    background-color: #F6EDE8;
    box-shadow: 0 0 20px #eeddd3;
    font-weight: lighter;
    width: 800px;
    align-items: center;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);

}


.box-container {
    display: flex;
    justify-content: center;

}

.inside-box {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
}

input[type="file"] {
    display: none;
}

.img-upload-label {
    border: 2px solid #3E312A;
    background-color: #F6EDE8;
    cursor: pointer;
    padding: 5px 70px;
    border-radius: 5px;
    font-size: 15px;
    border:1px solid black;
}