
.select-option{
    padding:10px;
    margin-bottom:20px;
    
}
.select-option option{
    background-color: #F6EDE8;
    
    
}
.select-option select{
    background-color: #F6EDE8;
    padding:6px 20px;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    
}

.search input{
    padding: 0 5px;
    height: 30px;
    font-size: 16px;
    border: 1 px solid #F1E4DD;
    border-radius: 5px;
    border-color:#F1E4DD;
    margin-left:20px;
    font-family: 'Poppins', sans-serif;
    margin-bottom:30px;
}

.search input[type=text] {
    font-family: 'Poppins', sans-serif;
    color: #3E312A;
    font-size: 14px;

}

.admin-search-button{
    border-radius: 5px;
    border: 1px solid;
    background: #FAF6F4;
    border-radius: 5px;
    font-size: 14px;
    color: #3E312A;
    font-weight: 20px;
    cursor: pointer;
    outline: none;
    border-color: #cec6c2;
    font-family: 'Poppins', sans-serif;
    padding:5px;
    margin-left:5px;
}

.admin-delete-button{
    border-radius: 5px;
    border: 1px solid;
    background: #FAF6F4;
    border-radius: 5px;
    font-size: 14px;
    color: #3E312A;
    font-weight: 20px;
    cursor: pointer;
    outline: none;
    border-color: #cec6c2;
    font-family: 'Poppins', sans-serif;
    padding:5px;
    margin-left:5px;
    
}

.admin-cancel-button{
    border-radius: 5px;
    border: 1px solid;
    background: #FAF6F4;
    border-radius: 5px;
    font-size: 14px;
    color: #3E312A;
    font-weight: 20px;
    cursor: pointer;
    outline: none;
    border-color: #cec6c2;
    font-family: 'Poppins', sans-serif;
    padding:5px;
    margin-left:5px;
}

