
.admin-h2{
    background-size: 130px;
    background-repeat: no-repeat;
    background-position: 43%;
    box-shadow: #3E312A;
    padding: 15px;
    margin-bottom: 50px;
    /* margin-top: 50px; */
    font-size: 20px;
    background-color: white;
    box-shadow: 0 0 20px #eeddd3;
    font-weight: lighter;
}

.admin-back-btn{
    border-radius: 5px;
    border: 1px solid;
    background: #FAF6F4;
    border-radius: 5px;
    font-size: 16px;
    color: #3E312A;
    font-weight: 20px;
    cursor: pointer;
    outline: none;
    border-color: #cec6c2;
    font-family: 'Poppins', sans-serif;
    padding:10px;
    margin-left:5px;
}



