/* .admin-edit-product{
    display:flex;
    justify-content: center;
    flex-direction: column;
} */

.admin-edit-product{
    background-image: url('./pics/aloe13.jpg');
    background-position: left;
    background-size: 2000px;
    height:550px;
    display: flex;
    justify-content: center;
    margin-top:-50px;
}

.admin-edit-product label {
    height: 30px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    text-align: left;
}

.admin-edit-product input {
    padding: 0 5px;
    height: 30px;
    font-size: 16px;
    border: 1 px solid #F1E4DD;
    border-radius: 5px;
    border-color:#F1E4DD;
    margin-left:20px;
    font-family: 'Poppins', sans-serif;
}
.admin-edit-product input[type=text] {
    font-family: 'Poppins', sans-serif;
    color: #3E312A;
    font-size: 16px;

}

.admin-edit-product :disabled {
    background-color: rgb(196, 196, 196);
}

.admin-cancel-button{
    border-radius: 5px;
    border: 1px solid;
    background: #FAF6F4;
    border-radius: 5px;
    font-size: 14px;
    color: #3E312A;
    font-weight: 20px;
    cursor: pointer;
    outline: none;
    border-color: #cec6c2;
    font-family: 'Poppins', sans-serif;
    padding:10px 100px;
    margin-left:10px;
    margin-top:20px;
}
.admin-save-button{
    border-radius: 5px;
    border: 1px solid;
    background: #FAF6F4;
    border-radius: 5px;
    font-size: 14px;
    color: #3E312A;
    font-weight: 20px;
    cursor: pointer;
    outline: none;
    border-color: #cec6c2;
    font-family: 'Poppins', sans-serif;
    padding:10px 100px;
    margin-left:10px;
    margin-top:20px;
}
.new-input{
    display:flex;
    justify-content: center;
    gap:20px;

}

.original-data{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #3E312A;
    padding: 30px;
    margin-bottom: 30px;
    margin-top: 20px;
    font-size: 20px;
    background-color: #F6EDE8;
    box-shadow: 0 0 20px #eeddd3;
    font-weight: lighter;
    width: 40%;
    align-items:stretch;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.original-data fieldset{
    display: flex;
    justify-content: space-between;
    padding:10px;
    margin-bottom:20px;
    border: none;
    border-bottom: 2px solid rgb(10, 15, 10);
    width: 90%;
    /* align-self: center; */
}

.original-data input:focus {
    background-color: #F6EDE8;
    border: 1px solid #c0937b; 
    outline: none;
}


/* .original-data p{
    display: flex;
    justify-content:left;
    align-items: baseline;
    flex-direction: row;
    /* margin-left:30px; */
    /* padding:20px; */
 

.admin-cat-new{
    display:flex;
    justify-content:baseline;
    align-items: baseline;
    flex-direction: row;
    font-size:16px;
    padding:20px;
}

/* .admin-buttons{
    margin-top:30px;
} */