.admin-login{
    background-image: url('./kepuj1.avif');
    background-position: left;
    background-size: 2000px;
    height:250px;
    display: flex;
    justify-content: center;
    margin-top:-50px;
    margin-bottom:50px;
}

.admin-login-box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #3E312A;
    padding: 30px;
    margin-bottom:20px;
    margin-top: 20px;
    font-size: 20px;
    background-color: #F6EDE8;
    box-shadow: 0 0 20px #eeddd3;
    font-weight: lighter;
    width: 800px;
    align-items: center;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}


.admin-login label{
    font-size: 15px;
}


.admin-login-btn {
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 30px;
    height: 40px;
    width: 220px;
    border: 1px solid;
    background: #FAF6F4;
    border-radius: 5px;
    font-size: 14px;
    color: #3E312A;
    font-weight: 20px;
    cursor: pointer;
    outline: none;
    border-color: #cec6c2;
    font-family: 'Poppins', sans-serif;
    margin-top:20px;
}

.admin-login-btn:hover {
    border-color: white;
    transition: .5s;
}



.admin-login input {
    padding: 0 5px;
    height: 30px;
    font-size: 16px;
    border: 1 px solid #F1E4DD;
    border-radius: 5px;
    border-color:#F1E4DD;
    font-family: 'Poppins', sans-serif;
    

}
.admin-login input[type=email] {
    font-family: 'Poppins', sans-serif;
    color: #3E312A;
    font-size: 15px;
    margin-left:15px;
   

}

.admin-login input[type=password] {
    font-family: 'Poppins', sans-serif;
    color: #3E312A;
    font-size: 15px;
    margin-left:15px;
}