.cart-order {
    border-collapse: collapse;
    /* collapse: A szomszédos cellák keretei összevonásra kerülnek.*/
    margin: 0 auto;
    font-size: 0.9em;
    min-width: 600px;
    border-radius: 0.2rem;
    overflow: hidden;
    box-shadow: 0 0 20px #eeddd3;
    background-color: #F6EDE8;
    margin-bottom: 40px;
}

.cart-order th {
    background-color: #FAF6F4;
    /* fejléc*/
    text-align: middle;
    padding: 10px 30px;
    font-size: 15px;
    width: 250px;
    border-bottom: 1px solid #3E312A;
    color: #3E312A;
    font-weight: lighter;
}

.cart-order td {
    padding: 20px 20px;
    background-color: #F6EDE8;
}

.cart-order tr {
    border-bottom: 1px solid #FAF6F4;
    /* elválasztó vonalak soroknál*/
    padding: 30px 30px;
}

.order-button {
    padding: 10px;
    border-radius: 5px;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 50px;
    width: 220px;
    border: 1px solid;
    background: #FAF6F4;
    border-radius: 5px;
    font-size: 16px;
    color: #3E312A;
    font-weight: 20px;
    cursor: pointer;
    outline: none;
    border-color: #cec6c2;
}

.order-button:hover {
    border-color: white;
    transition: .5s;
}

.cart-h2 {
    /* background-image: url('./kosaruj.png'); Vigyük át ezt alulra? */
    background-size: 130px;
    background-repeat: no-repeat;
    background-position: 43%;
    box-shadow: #3E312A;
    padding: 15px;
    margin-bottom: 50px;
    /* margin-top: 50px; */
    /* border-bottom:1px solid #3E312A; */
    font-size: 30px;
    /* border-top:1px solid #3E312A; */
    background-color: white;
    box-shadow: 0 0 20px #eeddd3;
    font-weight: lighter;
}

.cart-info {
    padding: 20px;
    vertical-align: middle;
}

.cart-amount-button {
    cursor: pointer;
    border: none;
    margin: 1rem;
    padding: 0.4rem;
    font-size: 1.1rem;
}

.cart-amount-button:hover {
    background-color: #928076;
}

.disabled {
    color:#d1ccc9
}

.disabled:hover {
    background-color: inherit
}
.cart-sum {
    font-weight: bold;
    border-top: 2px solid black;
}