@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.header-container {
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;

    background-color: #F6EDE8;
    padding: 1.4rem;
    border-bottom: 2px solid #ECDBD1;
    /* wizardból jön, megnézni mit tud */
    height: 10vh;
    align-items: center;
    position: relative;

}

.navbar {
    display: flex;
    gap: 2rem;
}

.navbar>* {
    color: #3E312A;
    background-color: #F6EDE8;
    text-decoration: none;

}

.nav-icons {
    display: flex;
    gap: 1em;
    align-items: center;
}

.badge {
    padding: 0.5em;
    /*kosárnál összeg kiirasa*/
    background-color: #D9B6A4;
    color: white;
    font-size: 0.5rem;
    border-radius: 50%;
    position: relative;
    text-decoration: none;
    top: 0.4rem;
    right: 4px;
}

.back-button {
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

.nav-link {
    text-decoration: none;
    position: relative;
    
}

.nav-link::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #E3C8BB;
    transform-origin: bottom left;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.nav-link:hover::after {
    transform: scaleX(1);
    width: 100%;
}

.logout {

    font-size: 16px;
    color: #3E312A;
    font-weight: 20px;
    cursor: pointer;
    outline: none;
    font-family: 'Poppins', sans-serif;
    margin-left: 15px;
    border: none;

}

.logo1uj {
    display: flex;
    justify-content: left;
    gap: 1rem;
    margin-top: 20px;
    margin-bottom: -20px;
    position: absolute;
    left: 20px;
    top: -20px;
}

@media (max-width: 1097px) {
    .header-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .navbar {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }

    .logo1uj {
        display: none;
    }
}