.ordertable {
    border-collapse: collapse;     /* collapse: A szomszédos cellák keretei összevonásra kerülnek.*/
    margin: 0 auto;
    font-size: 0.9em;
    min-width:600px;
    border: 1px solid black;
    border-radius: 0.2rem;
    overflow: hidden;
    box-shadow:0 0 20px #eeddd3;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 80px;
    background-color: #F6EDE8;
}
th {
    background-color: #FAF6F4;  /* fejléc*/
    text-align:middle;
    padding: 10px 30px;
    font-size:15px;
    width:250px;
    border-bottom: 1px solid #3E312A;
    color: #3E312A;
    font-weight:lighter;
}

/* tr:hover {
    background-color: #E8D2C6;               /* sorok színezése*/
 */

td{
    padding: 20px 20px; 
    background-color: #F6EDE8;                 /* thead*/
}

.ordertable tr{
    border-bottom: 1px solid #FAF6F4;          /* elválasztó vonalak soroknál*/
    padding: 30px 30px;
}

.ordertable tbody tr{
    border-bottom: 1px solid #FAF6F4;          /* elválasztó vonalak soroknál*/
    padding: 30px 30px;
}
.ordertable tbody tr:last-of-type {                    /* alsó színes sáv táblázat alján*/
    border-bottom:5px solid  #e8d1c5 ;
}
.order-h2{
    padding:15px;
    margin-bottom:50px;
    /* margin-top:50px; */
    /* border-bottom:1px solid #3E312A; */
    font-size:25px;
    /* border-top:1px solid #3E312A; */
    background-color: white;
    box-shadow:0 0 20px #eeddd3;
    font-weight:lighter;
}

.order-info{
    padding: 20px;
    display: flex;
    justify-content: center;
}