* {
    box-sizing: border-box;
    margin: 0;
    background-color: transparent;
}

.all-products {
    width: 65%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    margin: 0 auto;
    justify-items: center;
    text-align: center;
}

.product-img img {
    max-width: 100%;
    max-height: 300px;
    border-radius: 4px;
    margin-bottom: 30px;
}

.product {
    background-color: white;
    text-align: center;
    width: 15rem;
    height: 22rem;
    padding: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 0.2rem;
    box-shadow: 0 0.5rem 1.5rem lightslategrey;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.product-details {
    text-align: center;
    position: absolute;
    margin-bottom: -18px;
}

.product-title {
    font-size: 15px;
    margin-bottom: 0;
    background-color: rgba(255, 255, 255, 0.838);
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    padding: 3px;
}

.product-price {
    background-color: rgba(255, 255, 255, 0.838);
    margin-bottom: 5px;
    font-size: 13px;
}

.cart-button {
    padding: 5px;
    border-radius: 3px;
    width: 80px;
    height: 30px;
    border: 1px solid;
    background: #f6f3f2;
    border-radius: 5px;
    font-size: 13px;
    color: #3E312A;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    border-color: #cec6c2;

}

.added-success {
    font-size: 12px;
}

.product-h2 {
    padding: 15px;
    margin-bottom: 50px;
    /* margin-top: 50px; */
    /* border-bottom:1px solid #3E312A; */
    font-size: 30px;
    /* border-top:1px solid #3E312A; */
    background-color: white;
    box-shadow: 0 0 20px #eeddd3;
    font-weight: lighter;
}

.top-bar {
    display: flex;
    gap: 2rem;
    justify-content: center;
    padding: 0.5rem;
}

.select-option {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.select-option select {
    background-color: #F6EDE8;
    padding: 6px 20px;
    font-family: 'Poppins', sans-serif;
}

.select-option option {
    background-color: #F6EDE8;
}