* {
    box-sizing: border-box;
}

.all-products {
    width: 65%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    margin: 0 auto;
    justify-items: center;
}

.product {
    background-color: white;
    text-align: center;
    width: 15rem;
    height: 22rem;
    padding: 2rem;
    padding: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 1.2rem;
    box-shadow: 0 0.5rem 1.5rem lightslategrey;
    margin: 2rem;
}