.user-profile{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.user-data{
    display:flex;
    flex-direction: row;
    justify-content: left;
    margin-left:300px;
    
}

.hello{
    padding: 20px;
    margin-bottom: 80px;
    margin-top: 50px;
    font-size: 18px;
    
}

.userprofile-h2{
    background-size: 130px;
    background-repeat: no-repeat;
    background-position: 43%;
    box-shadow: #3E312A;
    padding: 15px;
    margin-bottom: 50px;
    margin-top: 50px;
    font-size: 20px;
    background-color: white;
    box-shadow: 0 0 20px #eeddd3;
    font-weight: lighter;
}

.user-profile p{
    
    font-size:16px;
    padding:15px;
}

.user-profile h3{
    font-size:16px;
    padding:15px;
}





